@font-face {
    font-family: ghotham;
    src: url("/fonts/Gotham-Black.otf");
    font-weight: 800;
}
@font-face {
    font-family: ghotham;
    src: url("/fonts/Gotham-Bold.otf");
    font-weight: 700;
}
@font-face {
    font-family: ghotham;
    src: url("/fonts/Gotham-BookItalic.otf");
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: ghotham;
    src: url("/fonts/Gotham-Light.otf");
    font-weight: 400;
}
@font-face {
    font-family: ghotham;
    src: url("/fonts/Gotham-Thin.otf");
    font-weight: 200;
}
