/* Variáveis globais
========================================================================== */
//sizes
$sm: 426px;
$tb: 768px;

//cores
$main-color: #1d4592;
$main-hover-color: #193870;
$secondary-color: #ef9525;
$secondary-hover-color: #e58926;
$tertiary-color: #5b8e4b;
$tertiary-hover-color: #4d7d3e;
$font-color: #272728;
/* fonts
========================================================================== */
//@import "fonts";

/* Comportamentos padrão: selecao, links e box-sizing
========================================================================== */
*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition: all linear 0.2s;
    &:focus,
    &:hover {
        text-decoration: none;
    }
}

input,
button {
    outline: none;
}

img {
    max-width: 100%;
}

section {
    padding: 50px 0;
    position: relative;
}

h1 {
    font-family: "Ghotham", sans-serif;
    color: $main-color;
    font-size: 35px;
}

p {
    font-family: "Ghotham", sans-serif;
    color: $font-color;
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #c8c8c8;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $secondary-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $secondary-hover-color;
}

/* Funções globais
========================================================================== */

@mixin formContato() {
    input,
    textarea,
    select {
        border-radius: 3px;
        background-color: #ffffff;
        border: 2px solid #b6b6b6;
        width: 100%;
        padding: 10px 10px;
        display: inline-block;
        margin: 10px 0;
        outline: none;
        font-family: "Ghotham", sans-serif;
        font-weight: 500;
        color: #191919;
        &::placeholder {
            font-family: "Ghotham", sans-serif;
            font-weight: 500;
        }
        &.nome {
            width: 49%;
            margin-right: 1%;
            @media screen and (max-width: $sm) {
                width: 100%;
            }
        }
        &.email {
            width: 48%;
            margin-left: 1%;
            @media screen and (max-width: $sm) {
                width: 100%;
                margin-left: 0;
            }
        }
        &.telefone {
            width: 30%;
            margin-right: 1%;
            @media screen and (max-width: $sm) {
                width: 100%;
                margin-right: 0;
            }
        }
        &.uf {
            width: 16%;
            margin-left: 1%;
            margin-right: 1%;
            @media screen and (max-width: $sm) {
                width: 35%;
                margin-left: 0;
            }
        }
        &.cidade {
            width: 48%;
            margin-left: 1%;
            @media screen and (max-width: $sm) {
                width: 61%;
            }
        }
        &.mensagem {
            resize: none;
        }
    }
    button.enviar {
        background: #1d4592;
        border: none;
        color: #fff;
        font-weight: bold;
        width: 250px;
        height: 37px;
        font-size: 16px;
        border-radius: 3px;
        &:hover {
            background-color: $main-hover-color;
        }
        &:disabled {
            background-color: #4d586f;
        }
    }
}

/* Fontes
========================================================================== */
@import "fonts";

/* Classes globais
========================================================================== */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1190px;
    max-width: 100%;
    margin: 0 auto;
    @media screen and (max-width: $tb) {
        padding: 0 20px;
    }
}

div.left-right-content {
    display: table;
    width: 100%;
    div.left,
    div.right {
        display: table-cell;
        vertical-align: middle;
        @media screen and (max-width: $sm) {
            display: table-row;
        }
    }
    div.left {
        padding-right: 20px;
    }
    div.right {
        padding-left: 20px;
    }
}

.left,
.right {
    display: inline-block;
    width: 49.5%;
    position: relative;
    vertical-align: top;
    @media screen and (max-width: $sm) {
        width: 100%;
        padding: 20px;
    }
}

/* Html / Body
========================================================================== */
html {
    height: 100%;
    overflow: auto;
}

body {
    margin: 0;
    height: 100%;
    line-height: 1.6;
    font: normal normal 16px Arial, sans-serif;
}

/* Cabeçalho
========================================================================== */
nav {
    background-color: #fff;
    position: relative;
    text-align: center;
    div.content {
        width: 45%;
        padding-top: 20px;
        margin: 0 auto;
        position: relative;
        z-index: 2;
        @media screen and (max-width: $tb) {
            padding-top: 50px;
        }
        img {
            margin-bottom: -40px;
            @media screen and (max-width: $sm) {
                margin-bottom: -25px;
            }
        }
        div.options {
            position: absolute;
            top: 50%;
            right: -235px;
            transform: translateY(-50%);
            @media screen and (max-width: $sm) {
                position: relative;
                display: block;
                top: unset;
                right: unset;
                width: 100%;
                transform: unset;
            }

            > a {
                font-size: 20px;
                background-color: $tertiary-color;
                padding: 7px 20px;
                border-radius: 5px;
                color: #fff;
                transition: all linear 0.2s;
                display: block;
                &:hover {
                    background-color: $tertiary-hover-color;
                    &.button-opcoes {
                        box-shadow: 0 0 10px #000;
                    }
                }
            }
            > ul {
                display: none;
                text-align: left;
                position: absolute;
                background: #fff;
                border-radius: 5px;
                min-width: 200px;
                box-shadow: 0 0 10px #000;
                margin: 10px 0 0 0;
                padding: 0 15px;
                li {
                    margin: 0;
                    padding: 15px 0;
                    list-style: none;
                    &:not(:last-child) {
                        border-bottom: 1px solid #bfbfbf;
                    }
                    &:last-child {
                        a {
                            color: #b8000a;
                            &:hover {
                                color: #92000a;
                            }
                        }
                    }
                    a {
                        color: $tertiary-color;
                        &:hover {
                            color: $tertiary-hover-color;
                        }
                    }
                }
            }
        }
        .content-menu {
            position: absolute;
            left: -215px;
            top: calc(100% - 50%);
            width: 300px;
            display: flex;
            justify-content: space-between;
            a {
                font-size: 20px;
                font-weight: bold;
                color: $main-color;
            }
            @media (max-width: 768px) {
                display: none;
            }
        }
    }
    div.rectangle {
        position: absolute;
        width: 100%;
        display: block;
        > div {
            max-width: 100%;
            margin: 0 auto;
            width: 432px;
            height: 110px;
            background-color: white;
            clip-path: polygon(0 0, 50% 100%, 100% 0);
            @media screen and (max-width: $sm) {
                width: 260px;
                height: 72px;
                margin-top: -12px;
            }
        }
    }
}

div.menu-mobile {
    @import url(https://fonts.googleapis.com/css?family=Ek+Mukta:200);

    $cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
    $mukta: "Ek Mukta", sans-serif;

    $menuItems: 7;

    .header {
        position: absolute;
        top: 0;
        display: block;
        height: 50px;
        width: 100%;
        //background: rgba(#000,0.8);
        background: white;
        overflow: hidden;
        transition: all 0.5s ease-out, background 1s ease-out;
        transition-delay: 0.2s;
        z-index: 3;
        .burger-container {
            position: relative;
            display: inline-block;
            height: 50px;
            width: 50px;
            cursor: pointer;
            transform: rotate(0deg);
            transition: all 0.3s $cubic;
            user-select: none;
            -webkit-tap-highlight-color: transparent;
            z-index: 4;
            #burger {
                width: 18px;
                height: 8px;
                position: relative;
                display: block;
                margin: -4px auto 0;
                top: 50%;
                .bar {
                    width: 100%;
                    height: 1px;
                    display: block;
                    position: relative;
                    background: #000000;
                    transition: all 0.3s $cubic;
                    transition-delay: 0s;
                    &.topBar {
                        transform: translateY(0px) rotate(0deg);
                    }
                    &.btmBar {
                        transform: translateY(6px) rotate(0deg);
                    }
                }
            }
        }
        .icon {
            display: inline-block;
            position: absolute;
            height: 100%;
            line-height: 50px;
            width: 50px;
            height: 50px;
            text-align: center;
            color: #fff;
            font-size: 22px;
            left: 50%;
            transform: translateX(-50%);
            &.icon-bag {
                right: 0;
                top: 0;
                left: auto;
                transform: translateX(0px);
                transition: transform 0.5s $cubic;
                transition-delay: 0.65s;
            }
        }
        ul.menu {
            position: relative;
            display: block;
            padding: 0px 48px 40px 48px;
            list-style: none;
            li.menu-item {
                border-bottom: 1px solid #333;
                margin-top: 5px;
                transform: scale(1.15) translateY(-30px);
                opacity: 0;
                transition: transform 0.5s $cubic, opacity 0.6s $cubic;
                @for $i from 1 through $menuItems {
                    &:nth-child(#{$i}) {
                        transition-delay: #{0.56 - ($i * 0.07)}s;
                    }
                }
                a {
                    display: block;
                    position: relative;
                    color: #000;
                    font-family: $mukta;
                    font-weight: 100;
                    text-decoration: none;
                    font-size: 22px;
                    line-height: 2.35;
                    font-weight: 200;
                    width: 100%;
                }
            }
        }
        &.menu-opened {
            height: auto;
            background-color: #e9e9e9;
            transition: all 0.3s ease-in, background 0.5s ease-in;
            transition-delay: 0.25s;
            box-shadow: 0 0 10px #000;
            .burger-container {
                transform: rotate(90deg);
                #burger {
                    .bar {
                        transition: all 0.4s $cubic;
                        transition-delay: 0.2s;
                        &.topBar {
                            transform: translateY(4px) rotate(45deg);
                        }
                        &.btmBar {
                            transform: translateY(3px) rotate(-45deg);
                        }
                    }
                }
            }
            ul.menu {
                li.menu-item {
                    transform: scale(1) translateY(0px);
                    opacity: 1;
                    @for $i from 1 through $menuItems {
                        &:nth-child(#{$i}) {
                            transition-delay: #{0.07 * $i + 0.2}s;
                        }
                    }
                }
            }
            .icon {
                &.icon-bag {
                    transform: translateX(75px);
                    transition-delay: 0.3s;
                }
            }
        }
    }
}

/* Conteúdo
========================================================================== */
.blog {
    .banner {
        height: 400px;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: 0 70%;
        }
    }
}

div.banner {
    height: 400px;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 0 70%;
        @media screen and (max-width: $sm) {
            height: 325px;
            object-fit: cover;
            object-position: center;
        }
    }
}

section.sobre {
    h1 {
        text-align: center;
    }
    p {
        text-align: justify;
        @media screen and (max-width: $sm) {
            text-align: left;
        }
    }
    img {
        object-fit: cover;
        object-position: center;
        width: 100%;
    }
}

section.faca-parte-equipe {
    padding: 0;
    img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        cursor: pointer;
        @media screen and (max-width: $sm) {
            height: 90px;
        }
    }
}

section.parte-equipe {
    div.fechar {
        color: $main-color;
        font-size: 20px;
        cursor: pointer;
    }
    @include formContato();
}

section.contato {
    @media screen and (max-width: $sm) {
        text-align: center;
    }
    p {
        line-height: 1.2;
        margin: 10px 0;
        padding: 0;
        color: $font-color;
        i {
            color: $main-color;
        }
    }
    div.form-contato {
        text-align: right;
        @media screen and (max-width: $sm) {
            text-align: center;
        }
        @include formContato();
    }
}

section.maps {
    position: relative;
    padding: 0;
    div.blank {
        display: block;
        width: 100%;
        height: 50px;
        z-index: 2;
        position: absolute;
        background-color: #fff;
    }
    iframe {
        @media screen and (max-width: $sm) {
            margin-top: 0;
        }
        margin-top: -50px;
        display: block;
        z-index: 1;
        border: none;
        outline: none;
    }
}

section.blog {
    .left-right-content {
        .left {
            width: 80%;
            .posts {
                display: flex;
                padding-right: 20px;
                flex-wrap: wrap;
                justify-content: flex-start;
                @media (max-width: 768px) {
                    padding: 0;
                }
                article {
                    position: relative;
                    width: 100%;
                    background: #dddddc;
                    margin-bottom: 2%;
                    display: table;
                    max-height: 350px;
                    height: 350px;
                    overflow: hidden;
                    .thumbnail {
                        position: absolute;
                        width: 38%;
                        height: 350px;
                        @media (max-width: 500px) {
                            width: 100%;
                            position: unset;
                            height: 180px;
                        }
                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                        .logo {
                            object-fit: contain;
                            padding: 20px;
                        }
                    }
                    .content {
                        display: table;
                        position: absolute;
                        margin: 0 auto;
                        background: #fff;
                        height: 330px;
                        padding: 20px;
                        bottom: calc(3%);
                        width: 61%;
                        right: 8px;
                        @media (max-width: 500px) {
                            position: unset;
                            width: 90%;
                            margin-bottom: 17px;
                        }
                        h2 {
                            color: #f5a12e;
                            margin: 0;
                            font-weight: 400;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .text {
                            max-height: 194px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            position: relative;
                            &::before {
                                content: "";
                                width: 100%;
                                height: 30px;
                                position: absolute;
                                bottom: 0;
                                background: rgb(2, 0, 36);
                                background: linear-gradient(
                                    180deg,
                                    rgba(2, 0, 36, 0) 0%,
                                    rgba(255, 255, 255, 0.8015581232492998) 50%,
                                    rgba(255, 255, 255, 1) 100%
                                );
                            }
                            p {
                                text-align: justify;
                                font-size: 15px;
                                font-weight: bold;
                                color: #707070;
                                word-break: break-all;
                            }
                        }

                        .ler {
                            display: table-footer-group;
                            position: relative;
                            a {
                                // margin: 0 auto;
                                text-align: center;
                                background: #3291be;
                                color: #fff;
                                width: 215px;
                                height: 40px;
                                display: table;
                                border-radius: 5px;
                                box-shadow: 5px 5px 5px #ccc;
                                font-size: 20px;
                                padding-top: 7px;
                                transition: all 0.4s;
                                &:hover {
                                    background: #f5a12e;
                                }
                            }
                        }
                    }
                }
            }
        }
        .right {
            width: 20% !important;
            vertical-align: top;
            padding: 0;
        }
    }
    .load-more {
        width: 100%;
        text-align: center;
        margin-top: 50px;
        a {
            width: 300px;
            font-size: 30px;
            font-weight: bold;
            color: #fff;
            background: #ef9525;
            padding: 10px 30px;
            border-radius: 5px;
        }
    }
}
section.single {
    .left-right-content {
        .left {
            width: 75%;
            article {
                h2 {
                    color: #f5a12e;
                }
                width: 100%;
                .thumbnail {
                    width: 100%;
                    height: 420px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                    .logo {
                        object-fit: contain;
                        padding: 20px;
                    }
                }
            }
        }
        .right {
            width: 15%;
            vertical-align: top;
        }
    }
}

.categorys {
    ul {
        list-style: none;
        padding: 0;
        h2 {
            color: #f5a12f;
            font-weight: 100;
            font-size: 30px;
        }
        li {
            margin-bottom: 10px;
            color: #3290be;
            padding-left: 20px;
            font-weight: bold;
            font-style: italic;
            font-size: 20px;
            position: relative;
            &::after {
                background: #fff;
                content: "";
                width: 10px;
                height: 10px;
                position: absolute;
                left: 0;
                border-radius: 25px;
                border: 3px solid #3290be;
                top: 6px;
            }
        }
        &::after {
            content: "";
            width: 100%;
            height: 1px;
            background: #f5a12f;
            position: absolute;
            @media (max-width: 768px) {
                display: none;
            }
        }
    }
}

section.links {
    ul {
        padding: 0;
        list-style: none;
        li {
            transition: max-height 1s;
            overflow: hidden;
            margin-top: 20px;
            position: relative;
            border-radius: 5px;
            padding: 1px 15px;
            box-shadow: 0px 3px 5px #ccc;
            > a {
                color: $font-color;
                display: block;
                z-index: 1;
                span {
                    position: absolute;
                    right: 40px;
                    top: 23px;
                    font-size: 25px;
                    z-index: -1;
                    i {
                        transition: all 0.4s;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
                span.active {
                    i {
                        transform: rotate(180deg);
                    }
                }
            }
            > div {
                transition: max-height 1s;
            }
            .hidden {
                transition: all 0.4s;
                opacity: 0;
                visibility: hidden;
                height: 0;
            }
            .show {
                opacity: 1;
                visibility: visible;
                height: auto;
                max-height: 300px;
            }
        }
        li.active {
            height: auto;
        }
    }
}

/* Rodapé
========================================================================== */
footer {
    background-color: #545454;
    text-align: center;
    img {
        padding: 20px 0;
    }
    div.arealocal {
        padding: 2px 0;
        background-color: #343333;
        text-align: center;
        a {
            color: #fff;
            &:hover {
                color: $secondary-hover-color;
            }
        }
    }
}

/* Importações
========================================================================== */
/*@import 'contato';*/
