@import url(https://fonts.googleapis.com/css?family=Ek+Mukta:200);@charset "UTF-8";
/* Variáveis globais
========================================================================== */
/* fonts
========================================================================== */
/* Comportamentos padrão: selecao, links e box-sizing
========================================================================== */
*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: all linear 0.2s;
}
a:focus, a:hover {
  text-decoration: none;
}

input,
button {
  outline: none;
}

img {
  max-width: 100%;
}

section {
  padding: 50px 0;
  position: relative;
}

h1 {
  font-family: "Ghotham", sans-serif;
  color: #1d4592;
  font-size: 35px;
}

p {
  font-family: "Ghotham", sans-serif;
  color: #272728;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c8c8c8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ef9525;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e58926;
}

/* Funções globais
========================================================================== */
/* Fontes
========================================================================== */
@font-face {
  font-family: ghotham;
  src: url("/fonts/Gotham-Black.otf");
  font-weight: 800;
}
@font-face {
  font-family: ghotham;
  src: url("/fonts/Gotham-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: ghotham;
  src: url("/fonts/Gotham-BookItalic.otf");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: ghotham;
  src: url("/fonts/Gotham-Light.otf");
  font-weight: 400;
}
@font-face {
  font-family: ghotham;
  src: url("/fonts/Gotham-Thin.otf");
  font-weight: 200;
}
/* Classes globais
========================================================================== */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1190px;
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

div.left-right-content {
  display: table;
  width: 100%;
}
div.left-right-content div.left,
div.left-right-content div.right {
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 426px) {
  div.left-right-content div.left,
div.left-right-content div.right {
    display: table-row;
  }
}
div.left-right-content div.left {
  padding-right: 20px;
}
div.left-right-content div.right {
  padding-left: 20px;
}

.left,
.right {
  display: inline-block;
  width: 49.5%;
  position: relative;
  vertical-align: top;
}
@media screen and (max-width: 426px) {
  .left,
.right {
    width: 100%;
    padding: 20px;
  }
}

/* Html / Body
========================================================================== */
html {
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  height: 100%;
  line-height: 1.6;
  font: normal normal 16px Arial, sans-serif;
}

/* Cabeçalho
========================================================================== */
nav {
  background-color: #fff;
  position: relative;
  text-align: center;
}
nav div.content {
  width: 45%;
  padding-top: 20px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  nav div.content {
    padding-top: 50px;
  }
}
nav div.content img {
  margin-bottom: -40px;
}
@media screen and (max-width: 426px) {
  nav div.content img {
    margin-bottom: -25px;
  }
}
nav div.content div.options {
  position: absolute;
  top: 50%;
  right: -235px;
  transform: translateY(-50%);
}
@media screen and (max-width: 426px) {
  nav div.content div.options {
    position: relative;
    display: block;
    top: unset;
    right: unset;
    width: 100%;
    transform: unset;
  }
}
nav div.content div.options > a {
  font-size: 20px;
  background-color: #5b8e4b;
  padding: 7px 20px;
  border-radius: 5px;
  color: #fff;
  transition: all linear 0.2s;
  display: block;
}
nav div.content div.options > a:hover {
  background-color: #4d7d3e;
}
nav div.content div.options > a:hover.button-opcoes {
  box-shadow: 0 0 10px #000;
}
nav div.content div.options > ul {
  display: none;
  text-align: left;
  position: absolute;
  background: #fff;
  border-radius: 5px;
  min-width: 200px;
  box-shadow: 0 0 10px #000;
  margin: 10px 0 0 0;
  padding: 0 15px;
}
nav div.content div.options > ul li {
  margin: 0;
  padding: 15px 0;
  list-style: none;
}
nav div.content div.options > ul li:not(:last-child) {
  border-bottom: 1px solid #bfbfbf;
}
nav div.content div.options > ul li:last-child a {
  color: #b8000a;
}
nav div.content div.options > ul li:last-child a:hover {
  color: #92000a;
}
nav div.content div.options > ul li a {
  color: #5b8e4b;
}
nav div.content div.options > ul li a:hover {
  color: #4d7d3e;
}
nav div.content .content-menu {
  position: absolute;
  left: -215px;
  top: calc(100% - 50%);
  width: 300px;
  display: flex;
  justify-content: space-between;
}
nav div.content .content-menu a {
  font-size: 20px;
  font-weight: bold;
  color: #1d4592;
}
@media (max-width: 768px) {
  nav div.content .content-menu {
    display: none;
  }
}
nav div.rectangle {
  position: absolute;
  width: 100%;
  display: block;
}
nav div.rectangle > div {
  max-width: 100%;
  margin: 0 auto;
  width: 432px;
  height: 110px;
  background-color: white;
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
          clip-path: polygon(0 0, 50% 100%, 100% 0);
}
@media screen and (max-width: 426px) {
  nav div.rectangle > div {
    width: 260px;
    height: 72px;
    margin-top: -12px;
  }
}

div.menu-mobile {
}
div.menu-mobile .header {
  position: absolute;
  top: 0;
  display: block;
  height: 50px;
  width: 100%;
  background: white;
  overflow: hidden;
  transition: all 0.5s ease-out, background 1s ease-out;
  transition-delay: 0.2s;
  z-index: 3;
}
div.menu-mobile .header .burger-container {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  z-index: 4;
}
div.menu-mobile .header .burger-container #burger {
  width: 18px;
  height: 8px;
  position: relative;
  display: block;
  margin: -4px auto 0;
  top: 50%;
}
div.menu-mobile .header .burger-container #burger .bar {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  background: #000000;
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0s;
}
div.menu-mobile .header .burger-container #burger .bar.topBar {
  transform: translateY(0px) rotate(0deg);
}
div.menu-mobile .header .burger-container #burger .bar.btmBar {
  transform: translateY(6px) rotate(0deg);
}
div.menu-mobile .header .icon {
  display: inline-block;
  position: absolute;
  height: 100%;
  line-height: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  left: 50%;
  transform: translateX(-50%);
}
div.menu-mobile .header .icon.icon-bag {
  right: 0;
  top: 0;
  left: auto;
  transform: translateX(0px);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0.65s;
}
div.menu-mobile .header ul.menu {
  position: relative;
  display: block;
  padding: 0px 48px 40px 48px;
  list-style: none;
}
div.menu-mobile .header ul.menu li.menu-item {
  border-bottom: 1px solid #333;
  margin-top: 5px;
  transform: scale(1.15) translateY(-30px);
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
div.menu-mobile .header ul.menu li.menu-item:nth-child(1) {
  transition-delay: 0.49s;
}
div.menu-mobile .header ul.menu li.menu-item:nth-child(2) {
  transition-delay: 0.42s;
}
div.menu-mobile .header ul.menu li.menu-item:nth-child(3) {
  transition-delay: 0.35s;
}
div.menu-mobile .header ul.menu li.menu-item:nth-child(4) {
  transition-delay: 0.28s;
}
div.menu-mobile .header ul.menu li.menu-item:nth-child(5) {
  transition-delay: 0.21s;
}
div.menu-mobile .header ul.menu li.menu-item:nth-child(6) {
  transition-delay: 0.14s;
}
div.menu-mobile .header ul.menu li.menu-item:nth-child(7) {
  transition-delay: 0.07s;
}
div.menu-mobile .header ul.menu li.menu-item a {
  display: block;
  position: relative;
  color: #000;
  font-family: "Ek Mukta", sans-serif;
  font-weight: 100;
  text-decoration: none;
  font-size: 22px;
  line-height: 2.35;
  font-weight: 200;
  width: 100%;
}
div.menu-mobile .header.menu-opened {
  height: auto;
  background-color: #e9e9e9;
  transition: all 0.3s ease-in, background 0.5s ease-in;
  transition-delay: 0.25s;
  box-shadow: 0 0 10px #000;
}
div.menu-mobile .header.menu-opened .burger-container {
  transform: rotate(90deg);
}
div.menu-mobile .header.menu-opened .burger-container #burger .bar {
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0.2s;
}
div.menu-mobile .header.menu-opened .burger-container #burger .bar.topBar {
  transform: translateY(4px) rotate(45deg);
}
div.menu-mobile .header.menu-opened .burger-container #burger .bar.btmBar {
  transform: translateY(3px) rotate(-45deg);
}
div.menu-mobile .header.menu-opened ul.menu li.menu-item {
  transform: scale(1) translateY(0px);
  opacity: 1;
}
div.menu-mobile .header.menu-opened ul.menu li.menu-item:nth-child(1) {
  transition-delay: 0.27s;
}
div.menu-mobile .header.menu-opened ul.menu li.menu-item:nth-child(2) {
  transition-delay: 0.34s;
}
div.menu-mobile .header.menu-opened ul.menu li.menu-item:nth-child(3) {
  transition-delay: 0.41s;
}
div.menu-mobile .header.menu-opened ul.menu li.menu-item:nth-child(4) {
  transition-delay: 0.48s;
}
div.menu-mobile .header.menu-opened ul.menu li.menu-item:nth-child(5) {
  transition-delay: 0.55s;
}
div.menu-mobile .header.menu-opened ul.menu li.menu-item:nth-child(6) {
  transition-delay: 0.62s;
}
div.menu-mobile .header.menu-opened ul.menu li.menu-item:nth-child(7) {
  transition-delay: 0.69s;
}
div.menu-mobile .header.menu-opened .icon.icon-bag {
  transform: translateX(75px);
  transition-delay: 0.3s;
}

/* Conteúdo
========================================================================== */
.blog .banner {
  height: 400px;
}
.blog .banner img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 70%;
     object-position: 0 70%;
}

div.banner {
  height: 400px;
}
div.banner img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 70%;
     object-position: 0 70%;
}
@media screen and (max-width: 426px) {
  div.banner img {
    height: 325px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}

section.sobre h1 {
  text-align: center;
}
section.sobre p {
  text-align: justify;
}
@media screen and (max-width: 426px) {
  section.sobre p {
    text-align: left;
  }
}
section.sobre img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}

section.faca-parte-equipe {
  padding: 0;
}
section.faca-parte-equipe img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  cursor: pointer;
}
@media screen and (max-width: 426px) {
  section.faca-parte-equipe img {
    height: 90px;
  }
}

section.parte-equipe div.fechar {
  color: #1d4592;
  font-size: 20px;
  cursor: pointer;
}
section.parte-equipe input,
section.parte-equipe textarea,
section.parte-equipe select {
  border-radius: 3px;
  background-color: #ffffff;
  border: 2px solid #b6b6b6;
  width: 100%;
  padding: 10px 10px;
  display: inline-block;
  margin: 10px 0;
  outline: none;
  font-family: "Ghotham", sans-serif;
  font-weight: 500;
  color: #191919;
}
section.parte-equipe input::-moz-placeholder, section.parte-equipe textarea::-moz-placeholder, section.parte-equipe select::-moz-placeholder {
  font-family: "Ghotham", sans-serif;
  font-weight: 500;
}
section.parte-equipe input:-ms-input-placeholder, section.parte-equipe textarea:-ms-input-placeholder, section.parte-equipe select:-ms-input-placeholder {
  font-family: "Ghotham", sans-serif;
  font-weight: 500;
}
section.parte-equipe input::-ms-input-placeholder, section.parte-equipe textarea::-ms-input-placeholder, section.parte-equipe select::-ms-input-placeholder {
  font-family: "Ghotham", sans-serif;
  font-weight: 500;
}
section.parte-equipe input::placeholder,
section.parte-equipe textarea::placeholder,
section.parte-equipe select::placeholder {
  font-family: "Ghotham", sans-serif;
  font-weight: 500;
}
section.parte-equipe input.nome,
section.parte-equipe textarea.nome,
section.parte-equipe select.nome {
  width: 49%;
  margin-right: 1%;
}
@media screen and (max-width: 426px) {
  section.parte-equipe input.nome,
section.parte-equipe textarea.nome,
section.parte-equipe select.nome {
    width: 100%;
  }
}
section.parte-equipe input.email,
section.parte-equipe textarea.email,
section.parte-equipe select.email {
  width: 48%;
  margin-left: 1%;
}
@media screen and (max-width: 426px) {
  section.parte-equipe input.email,
section.parte-equipe textarea.email,
section.parte-equipe select.email {
    width: 100%;
    margin-left: 0;
  }
}
section.parte-equipe input.telefone,
section.parte-equipe textarea.telefone,
section.parte-equipe select.telefone {
  width: 30%;
  margin-right: 1%;
}
@media screen and (max-width: 426px) {
  section.parte-equipe input.telefone,
section.parte-equipe textarea.telefone,
section.parte-equipe select.telefone {
    width: 100%;
    margin-right: 0;
  }
}
section.parte-equipe input.uf,
section.parte-equipe textarea.uf,
section.parte-equipe select.uf {
  width: 16%;
  margin-left: 1%;
  margin-right: 1%;
}
@media screen and (max-width: 426px) {
  section.parte-equipe input.uf,
section.parte-equipe textarea.uf,
section.parte-equipe select.uf {
    width: 35%;
    margin-left: 0;
  }
}
section.parte-equipe input.cidade,
section.parte-equipe textarea.cidade,
section.parte-equipe select.cidade {
  width: 48%;
  margin-left: 1%;
}
@media screen and (max-width: 426px) {
  section.parte-equipe input.cidade,
section.parte-equipe textarea.cidade,
section.parte-equipe select.cidade {
    width: 61%;
  }
}
section.parte-equipe input.mensagem,
section.parte-equipe textarea.mensagem,
section.parte-equipe select.mensagem {
  resize: none;
}
section.parte-equipe button.enviar {
  background: #1d4592;
  border: none;
  color: #fff;
  font-weight: bold;
  width: 250px;
  height: 37px;
  font-size: 16px;
  border-radius: 3px;
}
section.parte-equipe button.enviar:hover {
  background-color: #193870;
}
section.parte-equipe button.enviar:disabled {
  background-color: #4d586f;
}

@media screen and (max-width: 426px) {
  section.contato {
    text-align: center;
  }
}
section.contato p {
  line-height: 1.2;
  margin: 10px 0;
  padding: 0;
  color: #272728;
}
section.contato p i {
  color: #1d4592;
}
section.contato div.form-contato {
  text-align: right;
}
@media screen and (max-width: 426px) {
  section.contato div.form-contato {
    text-align: center;
  }
}
section.contato div.form-contato input,
section.contato div.form-contato textarea,
section.contato div.form-contato select {
  border-radius: 3px;
  background-color: #ffffff;
  border: 2px solid #b6b6b6;
  width: 100%;
  padding: 10px 10px;
  display: inline-block;
  margin: 10px 0;
  outline: none;
  font-family: "Ghotham", sans-serif;
  font-weight: 500;
  color: #191919;
}
section.contato div.form-contato input::-moz-placeholder, section.contato div.form-contato textarea::-moz-placeholder, section.contato div.form-contato select::-moz-placeholder {
  font-family: "Ghotham", sans-serif;
  font-weight: 500;
}
section.contato div.form-contato input:-ms-input-placeholder, section.contato div.form-contato textarea:-ms-input-placeholder, section.contato div.form-contato select:-ms-input-placeholder {
  font-family: "Ghotham", sans-serif;
  font-weight: 500;
}
section.contato div.form-contato input::-ms-input-placeholder, section.contato div.form-contato textarea::-ms-input-placeholder, section.contato div.form-contato select::-ms-input-placeholder {
  font-family: "Ghotham", sans-serif;
  font-weight: 500;
}
section.contato div.form-contato input::placeholder,
section.contato div.form-contato textarea::placeholder,
section.contato div.form-contato select::placeholder {
  font-family: "Ghotham", sans-serif;
  font-weight: 500;
}
section.contato div.form-contato input.nome,
section.contato div.form-contato textarea.nome,
section.contato div.form-contato select.nome {
  width: 49%;
  margin-right: 1%;
}
@media screen and (max-width: 426px) {
  section.contato div.form-contato input.nome,
section.contato div.form-contato textarea.nome,
section.contato div.form-contato select.nome {
    width: 100%;
  }
}
section.contato div.form-contato input.email,
section.contato div.form-contato textarea.email,
section.contato div.form-contato select.email {
  width: 48%;
  margin-left: 1%;
}
@media screen and (max-width: 426px) {
  section.contato div.form-contato input.email,
section.contato div.form-contato textarea.email,
section.contato div.form-contato select.email {
    width: 100%;
    margin-left: 0;
  }
}
section.contato div.form-contato input.telefone,
section.contato div.form-contato textarea.telefone,
section.contato div.form-contato select.telefone {
  width: 30%;
  margin-right: 1%;
}
@media screen and (max-width: 426px) {
  section.contato div.form-contato input.telefone,
section.contato div.form-contato textarea.telefone,
section.contato div.form-contato select.telefone {
    width: 100%;
    margin-right: 0;
  }
}
section.contato div.form-contato input.uf,
section.contato div.form-contato textarea.uf,
section.contato div.form-contato select.uf {
  width: 16%;
  margin-left: 1%;
  margin-right: 1%;
}
@media screen and (max-width: 426px) {
  section.contato div.form-contato input.uf,
section.contato div.form-contato textarea.uf,
section.contato div.form-contato select.uf {
    width: 35%;
    margin-left: 0;
  }
}
section.contato div.form-contato input.cidade,
section.contato div.form-contato textarea.cidade,
section.contato div.form-contato select.cidade {
  width: 48%;
  margin-left: 1%;
}
@media screen and (max-width: 426px) {
  section.contato div.form-contato input.cidade,
section.contato div.form-contato textarea.cidade,
section.contato div.form-contato select.cidade {
    width: 61%;
  }
}
section.contato div.form-contato input.mensagem,
section.contato div.form-contato textarea.mensagem,
section.contato div.form-contato select.mensagem {
  resize: none;
}
section.contato div.form-contato button.enviar {
  background: #1d4592;
  border: none;
  color: #fff;
  font-weight: bold;
  width: 250px;
  height: 37px;
  font-size: 16px;
  border-radius: 3px;
}
section.contato div.form-contato button.enviar:hover {
  background-color: #193870;
}
section.contato div.form-contato button.enviar:disabled {
  background-color: #4d586f;
}

section.maps {
  position: relative;
  padding: 0;
}
section.maps div.blank {
  display: block;
  width: 100%;
  height: 50px;
  z-index: 2;
  position: absolute;
  background-color: #fff;
}
section.maps iframe {
  margin-top: -50px;
  display: block;
  z-index: 1;
  border: none;
  outline: none;
}
@media screen and (max-width: 426px) {
  section.maps iframe {
    margin-top: 0;
  }
}

section.blog .left-right-content .left {
  width: 80%;
}
section.blog .left-right-content .left .posts {
  display: flex;
  padding-right: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
}
@media (max-width: 768px) {
  section.blog .left-right-content .left .posts {
    padding: 0;
  }
}
section.blog .left-right-content .left .posts article {
  position: relative;
  width: 100%;
  background: #dddddc;
  margin-bottom: 2%;
  display: table;
  max-height: 350px;
  height: 350px;
  overflow: hidden;
}
section.blog .left-right-content .left .posts article .thumbnail {
  position: absolute;
  width: 38%;
  height: 350px;
}
@media (max-width: 500px) {
  section.blog .left-right-content .left .posts article .thumbnail {
    width: 100%;
    position: unset;
    height: 180px;
  }
}
section.blog .left-right-content .left .posts article .thumbnail img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
section.blog .left-right-content .left .posts article .thumbnail .logo {
  -o-object-fit: contain;
     object-fit: contain;
  padding: 20px;
}
section.blog .left-right-content .left .posts article .content {
  display: table;
  position: absolute;
  margin: 0 auto;
  background: #fff;
  height: 330px;
  padding: 20px;
  bottom: calc(3%);
  width: 61%;
  right: 8px;
}
@media (max-width: 500px) {
  section.blog .left-right-content .left .posts article .content {
    position: unset;
    width: 90%;
    margin-bottom: 17px;
  }
}
section.blog .left-right-content .left .posts article .content h2 {
  color: #f5a12e;
  margin: 0;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}
section.blog .left-right-content .left .posts article .content .text {
  max-height: 194px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
section.blog .left-right-content .left .posts article .content .text::before {
  content: "";
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  background: #020024;
  background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(255, 255, 255, 0.8015581232) 50%, white 100%);
}
section.blog .left-right-content .left .posts article .content .text p {
  text-align: justify;
  font-size: 15px;
  font-weight: bold;
  color: #707070;
  word-break: break-all;
}
section.blog .left-right-content .left .posts article .content .ler {
  display: table-footer-group;
  position: relative;
}
section.blog .left-right-content .left .posts article .content .ler a {
  text-align: center;
  background: #3291be;
  color: #fff;
  width: 215px;
  height: 40px;
  display: table;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #ccc;
  font-size: 20px;
  padding-top: 7px;
  transition: all 0.4s;
}
section.blog .left-right-content .left .posts article .content .ler a:hover {
  background: #f5a12e;
}
section.blog .left-right-content .right {
  width: 20% !important;
  vertical-align: top;
  padding: 0;
}
section.blog .load-more {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
section.blog .load-more a {
  width: 300px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  background: #ef9525;
  padding: 10px 30px;
  border-radius: 5px;
}

section.single .left-right-content .left {
  width: 75%;
}
section.single .left-right-content .left article {
  width: 100%;
}
section.single .left-right-content .left article h2 {
  color: #f5a12e;
}
section.single .left-right-content .left article .thumbnail {
  width: 100%;
  height: 420px;
}
section.single .left-right-content .left article .thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
section.single .left-right-content .left article .thumbnail .logo {
  -o-object-fit: contain;
     object-fit: contain;
  padding: 20px;
}
section.single .left-right-content .right {
  width: 15%;
  vertical-align: top;
}

.categorys ul {
  list-style: none;
  padding: 0;
}
.categorys ul h2 {
  color: #f5a12f;
  font-weight: 100;
  font-size: 30px;
}
.categorys ul li {
  margin-bottom: 10px;
  color: #3290be;
  padding-left: 20px;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  position: relative;
}
.categorys ul li::after {
  background: #fff;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0;
  border-radius: 25px;
  border: 3px solid #3290be;
  top: 6px;
}
.categorys ul::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #f5a12f;
  position: absolute;
}
@media (max-width: 768px) {
  .categorys ul::after {
    display: none;
  }
}

section.links ul {
  padding: 0;
  list-style: none;
}
section.links ul li {
  transition: max-height 1s;
  overflow: hidden;
  margin-top: 20px;
  position: relative;
  border-radius: 5px;
  padding: 1px 15px;
  box-shadow: 0px 3px 5px #ccc;
}
section.links ul li > a {
  color: #272728;
  display: block;
  z-index: 1;
}
section.links ul li > a span {
  position: absolute;
  right: 40px;
  top: 23px;
  font-size: 25px;
  z-index: -1;
}
section.links ul li > a span i {
  transition: all 0.4s;
}
section.links ul li > a span:hover {
  cursor: pointer;
}
section.links ul li > a span.active i {
  transform: rotate(180deg);
}
section.links ul li > div {
  transition: max-height 1s;
}
section.links ul li .hidden {
  transition: all 0.4s;
  opacity: 0;
  visibility: hidden;
  height: 0;
}
section.links ul li .show {
  opacity: 1;
  visibility: visible;
  height: auto;
  max-height: 300px;
}
section.links ul li.active {
  height: auto;
}

/* Rodapé
========================================================================== */
footer {
  background-color: #545454;
  text-align: center;
}
footer img {
  padding: 20px 0;
}
footer div.arealocal {
  padding: 2px 0;
  background-color: #343333;
  text-align: center;
}
footer div.arealocal a {
  color: #fff;
}
footer div.arealocal a:hover {
  color: #e58926;
}

/* Importações
========================================================================== */
/*@import 'contato';*/